* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62, 5%;

  /* Colors */

  --color-white: #ffffff;
  --color-black: #050505;
  --color-red: #ff2855
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #050505;
}

#landingGridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  /* Ensure the container fills the viewport height */
  /* min-height: 100vh; */
}