.HomeCardsGrid {
    grid-column: 1/ 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.HomeCardsContainer {
    grid-column: 2 / 12;
    margin-top: 2rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem 0rem;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 1rem;

    opacity: 0;
    transform: translateY(3rem);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cardContainer.isVisible {
    opacity: 1;
    transform: translateY(0);
}

.cardImage {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    padding: 12rem 0rem;
    border-radius: 1rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardTextContainer {
    grid-column: 4 / 7;
    color: var(--color-white);
    display: grid;
    grid-template-rows: auto 1fr 2rem;
    padding: 0rem 2rem;
}

.cardTextTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cardTextPara {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cardTextDirector {
    font-size: 1.2rem;
    text-align: right;
}




/* Mobile devices */
@media only screen and (max-width: 575.98px) {

    /* Your CSS rules for mobile devices */
    .cardImage {
        grid-column: 1 / 7;
        padding: 8rem 0rem;
    }

    .cardTextContainer {
        grid-column: 1 / 7;
        padding: 1rem 0rem 0rem 0rem;
    }


}

/* Tablets and small desktop screens */
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
    /* Your CSS rules for tablets and small desktop screens */

    .cardImage {
        background-position: left;

    }

}

/* Medium desktop screens */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Your CSS rules for medium desktop screens */
}

/* Large desktop screens */
@media only screen and (min-width: 1200px) {
    /* Your CSS rules for large desktop screens */
}